<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vms.mapper.UserPasswordHisMapper">
    <resultMap id="BaseResultMap" type="com.vms.model.UserPasswordHis">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
	    id, user_id, password, update_time
	  </sql>

    <select id="findUserPasswordByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_user_password_his
        where user_id = #{userId,jdbcType=VARCHAR}
        order by update_time desc
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
    delete from t_user_password_his
    where id = #{id,jdbcType=BIGINT}
  </delete>
	
	<delete id="deleteByUserId" parameterType="java.lang.String">
    delete from t_user_password_his
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
	
    <insert id="insert" parameterType="com.vms.model.UserRole">
        insert into t_user_password_his (id, user_id, password, update_time)
        values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
</mapper>