<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.vms.*.*.service.*"/>
    <context:component-scan base-package="com.vms.*.service.*"/>

    <context:component-scan base-package="com.vms.commons.datasource"/>

    <bean name="baseDataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="initialSize" value="50" />
        <property name="maxActive" value="200" />
        <property name="minIdle" value="10" />
        <property name="maxWait" value="60000" />
        <property name="validationQuery" value="SELECT 1 FROM DUAL" />
        <property name="testOnBorrow" value="true" />
        <property name="testOnReturn" value="false" />
        <property name="testWhileIdle" value="true" />
        <property name="timeBetweenEvictionRunsMillis" value="60000" />
        <property name="minEvictableIdleTimeMillis" value="300000" />
        <property name="removeAbandoned" value="true" />
        <property name="removeAbandonedTimeout" value="1800" />
        <property name="logAbandoned" value="true" />
        <property name="filters" value="config" />
    </bean>

    <bean name="master-dataSource" parent="baseDataSource" init-method="init">
        <property name="url" value="jdbc:oracle:thin:@${dbAddress}" />
        <property name="username" value="${master_username}" />
        <property name="password" value="${master_password}" />
    </bean>

    <bean id="dynamicDataSource" class="com.vms.system.DynamicDataSource">
        <property name="master" ref="master-dataSource"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dynamicDataSource"></property>
        <property name="mapperLocations" value="classpath*:/sqlMapperXml/*.xml"></property>
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
    </bean>

    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.vms.*.mapper;com.vms.*.*.mapper"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dynamicDataSource"></property>
    </bean>

    <bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <property name="transactionManager" ref="transactionManager" />
        <property name="transactionAttributes">
            <props>
                <prop key="find*">PROPAGATION_REQUIRED,ISOLATION_DEFAULT,-Exception</prop>
                <prop key="query*">PROPAGATION_REQUIRED,ISOLATION_DEFAULT,-Exception</prop>
                <prop key="list*">PROPAGATION_REQUIRED,ISOLATION_DEFAULT,-Exception</prop>
                <prop key="get*">PROPAGATION_REQUIRED,ISOLATION_DEFAULT,-Exception</prop>
                <prop key="add*">PROPAGATION_REQUIRED,ISOLATION_DEFAULT,-Exception</prop>
                <prop key="save*">PROPAGATION_REQUIRED,ISOLATION_DEFAULT,-Exception</prop>
                <prop key="insert*">PROPAGATION_REQUIRED,ISOLATION_DEFAULT,-Exception</prop>
                <prop key="update*">PROPAGATION_REQUIRED,ISOLATION_DEFAULT,-Exception</prop>
                <prop key="edit*">PROPAGATION_REQUIRED,ISOLATION_DEFAULT,-Exception</prop>
                <prop key="delete*">PROPAGATION_REQUIRED,ISOLATION_DEFAULT,-Exception</prop>
                <prop key="del*">PROPAGATION_REQUIRED,ISOLATION_DEFAULT,-Exception</prop>
            </props>
        </property>
    </bean>

    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames">
            <list>
                <value>*Service</value>
                <value>*ServiceImpl</value>
            </list>
        </property>
        <property name="interceptorNames">
            <list>
                <value>transactionInterceptor</value>
            </list>
        </property>
        <property name="proxyTargetClass" value="true"></property>
        <property name="exposeProxy" value="true"></property>
    </bean>
</beans>